@import "variables";

html {
  font-size: 62.5%;
}

body {
  font-family: $mainFontFamily;
  font-weight: $baseFontWeight;
  font-size: $baseFontSize;
  color: $mainFontColor;
  background: $background;
}

.container {
  margin-top: $marginTop;
  margin-bottom: $marginBottom;
  background: $pageBackground;
}
