@import "variables";

.box {
  margin-bottom: 15px;
  h2 {
    color: $focusColor;
    font-size: 1.8em;
    font-weight: $bolderFontWeight;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;

    &:before {
      content: '//';
      margin-right: 5px;
    }
  }

  p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}
