@import "variables";

$descriptionBackground: #eee;
$descriptionBorderColor: #ddd;

.timeline {
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;

  &:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 25px;
    top: 0;
    content: ' ';
    display: block;
    background: $focusColor;
    background: linear-gradient(to bottom, #ffffff 0%, #ec7263 7%, $focusColor 89%, #ffffff 100%);
  }

  li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
  }

  .year {
    width: 10%;
    background: $pageBackground;
    padding: 10px;
    font-size: 1.5em;
    font-weight: $bolderFontWeight;
    display: inline-block;
  }

  .description {
    width: 70%;
    display: inline-block;
    background: $descriptionBackground;
    margin-bottom: 10px;
    position: relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid $descriptionBorderColor;

    @media (min-width: 500px) {
      width: 80%;
    }

    @media (min-width: 992px) {
      width: 85%;
    }

    @media (min-width: 1200px) {
      width: 87%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      left: -16px;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-right-color: $descriptionBackground;
      pointer-events: none;
    }

    h3 {
      font-size: 1.6em;
      margin: 0;
      padding: 0;
      font-weight: $bolderFontWeight;
    }

    p {
      font-size: 1.3em;
      margin-top: 5px;
      padding: 0;
    }
  }
}
