$background: #e6e5e3;
$pageBackground: #fff;
$mainFontColor: #363636;
$mainFontFamily: 'Open Sans', Arial, Tahoma;
$highlightColor: #f0563d;
$baseFontWeight: 400;
$baseFontSize: 1em;

$marginTop: 80px;
$marginBottom: 15px;
